*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-repeat: repeat;
    background-color:rgb(183, 255, 250);
    
}
h4{
    font-size: 30pt;
    font-family: fantasy;
    border: 5px solid rgb(100, 100, 255); 
    background: rgb(192, 248, 192);
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}
section{
    width: 1200px;
    padding: 70px;
    background: rgb(147, 213, 251);
    margin: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

summary{
    background: rgb(206, 182, 249);
    color: black;
    padding: 23px;
    cursor: pointer;
    text-align: center;
    list-style: none;
    font-size: 25pt;
    font-family: fantasy;
    border: 5px solid rgb(100, 100, 255);
    font-weight: bold;
    
}

pre{
    margin-top: 10px;
    margin-top: 3px;
    text-align: center;
    font-size: 20pt;
    background: #9ef1fe;

 }
 
 
 
 h1{
    margin: 20px;
    text-align: center;
    line-height: normal;
    color:chocolate;
    font-size: 50pt;
    font-family: fantasy;
    border-bottom: 5px solid #d90004;
    padding-bottom: 2px;
    margin-bottom: 30px;
    
}



.portada{
    align-items: center;
}
p{
text-align: justify;
margin: 40px;
font-size: 20pt;
font-family: Arial;
}
